html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font: 16px/1.5 Helmet, Freesans, sans-serif;
  padding: 10px;
}

h2 {
  color: #777;
  margin: 10px;
}

label, input {
}

label {
  padding: 10px;
}

input {

}